.default__btn,
.primary__btn,
.primary__btn__corner {
    border-radius: 16px;
    font-size: 24px;
    font-family: var(--font-family-b-700);
    cursor: pointer;
    outline: none;
}

.primary__btn,
.primary__btn__corner {
    background: var(--color-purple-dark);
    color: var(--color-white);
    border: none;
    text-align: center;
}

.primary__btn__corner {
    border-radius: 999px;
}

.primary__btn:hover,
.primary__btn__corner:hover,
.primary__btn:focus,
.primary__btn__corner:focus {
    background: var(--color-purple-light);
    transition: background var(--animation);
}

.default__btn {
    border-radius: 16px;
    background: transparent;
    color: var(--color-purple-dark);
    border: 1px solid var(--color-gray-32);
    transition: color var(--animation), border-color var(--animation);
}

.default__btn:hover,
.default__btn:focus {
    transition: color var(--animation);
    color: var(--color-purple-light);
    border: 1px solid var(--color-gray-24);
}

.main__btn {
    width: 270px;
    height: 82px;
}

.--dark {
    background: var(--color-purple-dark);
    color: var(--color-white);
    border: 1px solid var(--color-purple-dark);
    transition: color var(--animation), border-color var(--animation);
}

.--dark:hover {
    background: var(--color-purple-light);
    color: var(--color-white);
    border: 1px solid var(--color-purple-light);
    transition: background var(--animation);
}