@font-face {
    font-family: H1 Heading ;
    src: url(' ');
}

  /* inter-regular - latin */
  @font-face {
    font-family: InterR;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: InterM500;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-700 - latin */
  @font-face {
    font-family: InterB700;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: InterExtraBold800;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v11-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: InterExtraBold900;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v11-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
  }