.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 80px;
    padding: 0 15px;
}

.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-screen__body {
    background-color: rgba(0, 0, 0, );
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.full-screen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {}

.wrapper__nav {
    display: flex;
    align-items: center;
}

.nav__logo {}

.nav__title {
    display: flex;
}

.nav__title_logo {
    font-size: 30px;
    font-family: var( --font-family-b-700);
    letter-spacing: -1px;
    text-transform: capitalize;
    color: rgba(219, 119, 5, 0.589)
}