* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba($color: #cfe5f7, $alpha: 1.0);
}

body * {
    box-sizing: border-box;
}

:root {
    --font-family-r: RobotoR, sans-serif;
}

.wrapper__container-flex {
    display: flex;
}